# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Local override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.pem
*.key

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db